/****** Script for SelectTopNRows command from SSMS  ******/
UPDATE [dwMetaData] 
	Set [Data] = '[
  {
    "key": "sidemenu",
    "data-buildertype": "menu",
    "items": [
      {
        "target": "/form/SwzQnnList",
        "title": "Questionaires",
        "visibleCondition": "{employeeform}",
        "children": [
          {
            "title": "Survey Designer",
            "target": "/surveydesigner"
          },
          {
            "target": "/form/SwzQnnList",
            "title": "Properties"
          }
        ]
      },
      {
        "target": "/form/SwzListList",
        "title": "List",
        "visibleCondition": "console.log(item);"
      },
      {
        "target": "/form/SwzDplyList",
        "title": "Deployment",
        "children": [],
        "visibleCondition": ""
      },
      {
        "title": "Data Editor",
        "target": "/form/DataEditorDeploymentList",
        "visibleCondition": ""
      },
      {
        "title": "Category",
        "target": "/form/SwzCategoryList"
      },
      {
        "title": "Respondent Content Management",
        "target": "/form/SwzRespAdminList",
        "children": []
      },
      {
        "target": "/useradmin",
        "title": "Security"
      }
    ],
    "vertical": true,
    "events": {
      "onItemClick": {
        "active": true,
        "actions": [
          "redirect",
          "onItemClick"
        ],
        "targets": [],
        "parameters": []
      }
    },
    "link": true,
    "fluid": false,
    "tabular": false,
    "secondary": false,
    "pointing": false,
    "other-visibleConition": ""
  }
]'
  FROM [CloverV8].[dbo].[dwMetadata]
  WHERE Filename = 'sidemenu.json'


