UPDATE TOP(1) [Clover].[dbo].[dwMetadata] SET [Id]='B2C5FD29-64A3-4D9A-8CC2-5A3C9C739089', [Folder]=N'metadata/forms', [Filename]=N'dplysampleowner.json', [IsDeleted]='0', [CreatedBy]='540E514C-911F-4A03-AC90-C450C28838C5', [CreatedDate]='2019-03-28 21:49:19.740', [DeletedBy]=NULL, [DeletedDate]=NULL, [UpdatedBy]='540E514C-911F-4A03-AC90-C450C28838C5', [UpdatedDate]='2019-08-19 15:17:07.783', [Data]=N'[
  {
    "key": "header_1",
    "data-buildertype": "header",
    "content": "{Name}",
    "size": "huge",
    "subheader": "Select one Data Editor to view/assign deployment samplers; Select multiple Data Editors to assign  identical deployment samplers."
  },
  {
    "key": "container_1",
    "data-buildertype": "container",
    "style-float": "left",
    "children": [
      {
        "key": "DataEditor",
        "data-buildertype": "dictionary",
        "label": "Data Editor",
        "fluid": true,
        "selection": true,
        "dataModel": "vSP_dataEditors",
        "columns": "Name ASC",
        "events": {
          "onChange": {
            "active": true,
            "actions": [
              "setOwnerSample"
            ],
            "targets": [
              "gridview_1"
            ],
            "parameters": []
          }
        },
        "style-customcss": "",
        "clearable": true,
        "multiple": true
      }
    ],
    "style-width": "400px",
    "style-marginBottom": "20px"
  },
  {
    "key": "gridview_1",
    "data-buildertype": "gridview",
    "columns": [
      {
        "key": "UIDName",
        "name": "UID (Name)",
        "sortable": true,
        "filterable": false,
        "resizable": false
      },
      {
        "key": "PeerName",
        "name": "Peer UID (Name)",
        "sortable": true,
        "filterable": false,
        "resizable": false
      },
      {
        "key": "StatusTitle",
        "name": "Status",
        "sortable": true,
        "filterable": false,
        "resizable": false
      },
      {
        "key": "RespDateStart",
        "name": "Response Start",
        "sortable": true,
        "filterable": false,
        "resizable": false,
        "type": "datetime"
      },
      {
        "key": "RespDateEnd",
        "name": "Response Complete",
        "sortable": true,
        "filterable": false,
        "resizable": false,
        "type": "datetime"
      },
      {
        "key": "DueDate",
        "name": "Due Date",
        "sortable": true,
        "filterable": false,
        "resizable": false,
        "type": "datetime"
      }
    ],
    "defaultSort": "UIDName ASC",
    "rowKey": "ListSampleId",
    "multiselect": true,
    "events": {
      "onSelectionChanged": {
        "active": false,
        "actions": [
          "logToConsole"
        ],
        "targets": [],
        "parameters": []
      }
    },
    "minHeight": "300px",
    "pagerType": ""
  },
  {
    "key": "container_2",
    "data-buildertype": "container",
    "style-float": "left",
    "children": [
      {
        "key": "button_1",
        "data-buildertype": "button",
        "content": "Save",
        "primary": true,
        "events": {
          "onClick": {
            "active": true,
            "actions": [
              "saveDplySampleOwner"
            ],
            "targets": [
              "gridview_1"
            ],
            "parameters": []
          }
        }
      },
      {
        "key": "button_2",
        "data-buildertype": "button",
        "content": "Cancel",
        "primary": false,
        "events": {
          "onClick": {
            "active": true,
            "actions": [
              "redirectToForm"
            ],
            "targets": [],
            "parameters": [
              {
                "name": "formName",
                "value": "QNN_DPLY"
              }
            ]
          }
        },
        "secondary": true,
        "inverted": true
      }
    ],
    "style-marginBottom": "20px"
  }
]', [StructDivisionId]=NULL WHERE ([Id]='B2C5FD29-64A3-4D9A-8CC2-5A3C9C739089');
UPDATE TOP(1) [Clover].[dbo].[dwMetadata] SET [Id]='A6712791-65C1-463B-BD07-3A2BDAC69C68', [Folder]=N'metadata/forms', [Filename]=N'dplysampleowner-code.js', [IsDeleted]='0', [CreatedBy]='540E514C-911F-4A03-AC90-C450C28838C5', [CreatedDate]='2019-03-28 21:49:19.640', [DeletedBy]=NULL, [DeletedDate]=NULL, [UpdatedBy]='540E514C-911F-4A03-AC90-C450C28838C5', [UpdatedDate]='2019-08-19 15:02:18.857', [Data]=N'{
    
    logToConsole: function(args){
        $(".react-grid-Canvas").trigger(''click'');
        console.log(''logToConsole args'', args)
    },
    saveDplySampleOwner: function(args){
        //console.log(''saveDplySampleOwner args'', args)
        var dplyId = args.data.Id;
        var userId = args.data.DataEditor;
        var gridItems = args.controlRef.state.items;
        var gridSelectedIndexes =  args.controlRef.state.selectedIndexes;
        var listSampleIds = [];
        gridSelectedIndexes.forEach( function(i) { 
            // ... do something with s ...
            listSampleIds.push(gridItems[i].ListSampleId);
        } );

        //console.log(''listSampleIds:'', listSampleIds);
        
        var formData = new FormData();
        formData.append(''userId'', userId);
        formData.append(''dplyId'', dplyId);
        formData.append(''listSampleIds'', listSampleIds);        
        var url = ''/deployment/setDataEditor'';
        fetch(url,
            {
                credentials: ''same-origin'',
                contentType: ''application/x-www-form-urlencoded; charset=UTF-8'',
                method: ''post'',
                body: formData
            })
            .then(response => response.json())
            .then(response => {
                if (response.success) {
                    alertify.success(response.message);
                } else {
                    alertify.error(response.message);
                }
            })
            .catch(error => {
                alertify.error(error.message);;
            });

        
    },
    setOwnerSample: function(args){
        
        var dplyId = args.data.Id;
        var userId = args.data.DataEditor;
        if(userId=="" || userId==null || (Array.isArray(userId) && userId.length>1)){
            args.controlRef.state.selectedIndexes = [];
            return {};
        }         
        
        var gridItems = args.controlRef.state.items;
       
        var formData = new FormData();
        formData.append(''userId'', userId);
        formData.append(''dplyId'', dplyId);
        var url = ''/deployment/getownersample'';
        var selectedListSampleIds = [];

        fetch(url,
            {
                credentials: ''same-origin'',
                contentType: ''application/x-www-form-urlencoded; charset=UTF-8'',
                method: ''post'',
                body: formData
            })
            .then(response => response.json())
            .then(response => {
                if (response.success) {
                    //console.log(''setOwnerSample args:'', args);
                    if(response.item.length>0){
                        var listSampleIds = response.item;
                        for (var i = 0; i < gridItems.length; i++) {
                            if(gridItems[i]==undefined || gridItems[i]==null) break;
                            if(listSampleIds.includes(gridItems[i].ListSampleId)){
                                selectedListSampleIds.push(i);
                               
                            }
                        }
                        //console.log(''selectedListSampleIds'', selectedListSampleIds);
                        args.controlRef.state.selectedIndexes = selectedListSampleIds;
                       
                    }
                    else{
                        args.controlRef.state.selectedIndexes = [];
                    }
                     args.controlRef.forceUpdate();

                } else {
                    alertify.error(response.message);
                }

            })
            .catch(error => {
                alertify.error(error.message);;
            });
            

    },
    clearGridCheckboxes: function(args){
         args.controlRef.state.selectedIndexes = [];
    }
    
        
    
}', [StructDivisionId]=NULL WHERE ([Id]='A6712791-65C1-463B-BD07-3A2BDAC69C68');
UPDATE TOP(1) [Clover].[dbo].[dwMetadata] SET [Id]='62BE1681-CB69-4112-BA0B-9CFB32724B58', [Folder]=N'metadata/forms', [Filename]=N'dplysampleowner-settings.json', [IsDeleted]='0', [CreatedBy]='540E514C-911F-4A03-AC90-C450C28838C5', [CreatedDate]='2019-03-28 21:49:19.687', [DeletedBy]=NULL, [DeletedDate]=NULL, [UpdatedBy]='540E514C-911F-4A03-AC90-C450C28838C5', [UpdatedDate]='2019-08-19 15:17:07.900', [Data]=N'{
  "isSurvey": false,
  "name": "dplysampleowner",
  "lastUpdate": "2019-08-19T15:17:07.9004948+08:00",
  "entityId": "95d26a40-bf59-4aef-b578-12b2535f7789",
  "isTemplate": false,
  "triggers": [],
  "dataMap": [
    {
      "id": "34391a2b-1065-a24c-92d0-85d7735bfec8",
      "attributeId": "15ce36dc-1fe5-43e2-bf80-2fa1a874e5d9",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "80c4025d-a1b5-5d93-5825-279725028d24",
      "attributeId": "a5f6d25c-ed79-44b1-9483-9c7b97b3cda2",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "901c16d0-fc25-1b61-376d-23fb0270d404",
      "attributeId": "0b439a8e-8ee5-4c3a-ae08-fa38d90d8aee",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "f68a406e-8da0-3479-796a-8034e07ab61d",
      "attributeId": "b3f0d547-7fc9-4f00-89e8-3b52f41929f5",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "ee1f9e69-af87-3801-92f7-984865afd1f2",
      "attributeId": "2bd6090e-c303-478d-b362-89c9191d052a",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "ec31d1c7-abab-ee75-1ea1-d5a4346af1dc",
      "attributeId": "494c42e8-0492-4176-ac75-c689a8f5bbc1",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "494fd8af-a728-ec33-85f6-0af37d245a95",
      "attributeId": "4d7e5b0e-6dc9-4f0d-831a-dfb3ebdd2ec2",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "5f351be5-0f67-0a8b-6371-2b6c853a14c9",
      "attributeId": "f12f1d43-75f2-42a5-926b-06aedc741df0",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "8611ba8b-fbe4-d5de-9f6c-0f2da88957e0",
      "attributeId": "a7b4eb64-b959-4195-aa6a-45ee3824d693",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "582e7cf7-a157-58ea-0a32-d4cdf3d6e93e",
      "attributeId": "c9bb3d9e-52f4-476f-805f-156488685dc2",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "2eb47227-6587-2c5e-5ba0-8eba482acbbf",
      "attributeId": "db1a037f-f2b1-402f-8a2c-69efb7d43c1f",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "e15f706b-222a-69d6-74d9-87f010610132",
      "attributeId": "4b7eee04-18b0-4153-9c9e-bb32f2fb42e5",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "d2a936e4-8700-3413-e949-d295f795d7c3",
      "attributeId": "429a264c-e4bc-4db0-bec0-03467deed005",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "4bbacc00-08b7-1a35-0816-8a811350d70e",
      "attributeId": "44907ef9-0d57-4a97-9be2-d58120934253",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "529dd847-2c5f-e16f-314e-2a9656ad132a",
      "attributeId": "56e2dbe8-24fe-4a41-bf0f-820df81ac755",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "305bf785-7173-fcaa-20ae-5df19a961475",
      "attributeId": "783f55a8-aa37-4c72-bf51-fd523e85585a",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "327346e6-06cc-4bd5-afd1-b254444eca88",
      "attributeId": "17b1b7b7-a1f9-4a5f-bcf5-606cf45a8cac",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "616c46b2-cd55-c8c1-2123-e074381efaaa",
      "attributeId": "455e5598-3db3-484c-84a6-148758489688",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "8e08ced6-654c-10b7-e3b9-25ff194e095d",
      "attributeId": "c3ed9b5a-56f8-45dd-846f-af4bfbc3f83c",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "6cea3e31-785d-665a-031f-d4a8503decd6",
      "attributeId": "9b064d69-3d5c-43c6-bfa4-55f931a6328c",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "3ec1adc3-17cd-5f4d-99ce-ab681ea403b6",
      "attributeId": "f69d9378-db54-4893-8e04-fd8ac05a750c",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "b273e574-cf6a-fa2e-58ff-3abaf5673ffd",
      "attributeId": "639da28f-dca1-4941-863f-131a30734e71",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "a2a96cb8-ab98-3c5e-30b6-af24cac00789",
      "attributeId": "cef5e883-b266-4f28-8018-cce3605bd68b",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "32d4e95b-0618-3fbc-7442-25198e6ef924",
      "attributeId": "f3a042c7-e093-4d79-a90c-84030f45c4a4",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "a7da9872-3d06-d7b8-e9c4-82e7236aa0e8",
      "attributeId": "0bfc96e9-2108-47a5-9ef5-c98b27673188",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "0a12c806-22e9-0f25-bdc3-3c857901e249",
      "attributeId": "f1fac614-5d61-45a3-bb62-35a9219a8609",
      "isEditable": true,
      "isLoadable": true
    },
    {
      "id": "8928f0c8-f551-a819-8d91-5d2a91ef0866",
      "attributeId": "0c05d708-e49a-4ed3-a5a0-70a3a7f52bea",
      "isEditable": true,
      "isLoadable": true
    }
  ],
  "dataColl": [
    {
      "id": "aaa3da2f-c61a-be36-b038-4a75685a31aa",
      "entityId": "edbdfede-d121-45a3-b291-77c85f18e4dd",
      "filter": "FilterByModelId",
      "parameter": "{\"DplyId\": \"@Id\"}",
      "control": "gridview_1",
      "dataMap": [
        {
          "id": "2cb444ab-921b-2389-9794-9c8e7d90be4c",
          "attributeId": "fb1995a9-d5b0-41b0-8bba-de1f198a2ade",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "4456075e-49a6-e33e-f89a-e857b40eba1c",
          "attributeId": "9708f58f-4391-4f2d-8ce5-3e3f705e0567",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "6faa5210-4ab1-f751-7193-060f1f47893b",
          "attributeId": "05aca3b9-1ff1-4224-af56-e1e7b40d2ea7",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "f77620c6-9897-cbe4-36a8-0047a36d9dbd",
          "attributeId": "4a05dc25-64a0-4bc1-ab63-cd8eb47388cc",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "66c6729a-2dc7-7f75-c70d-aa3c070577ca",
          "attributeId": "ba2edc74-4779-4dfa-b077-6171c7e5728a",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "050cb718-bf12-044b-5d6b-513f6584c54c",
          "attributeId": "fed57935-d235-4978-8e32-740704d0a4e6",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "00afeb2b-5bbe-035e-d7e6-549504edc25c",
          "attributeId": "0cbfca89-19a5-42af-85e5-a2924c73965b",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "6f448194-2ba2-0b97-edd1-55594b3d7b4a",
          "attributeId": "0406153b-14c8-40fa-9c0f-8da423c1bf9c",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "c7e09078-5fb3-c8c9-2385-72213f9fa835",
          "attributeId": "87142dff-3c44-4b2e-adf3-dbe6902929e3",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "c078a131-ca5b-bf1c-63ae-9c2c02123bf1",
          "attributeId": "eaf65e44-d8b3-41e2-8ea3-7fa371c24df7",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "3c13e8c7-8b4a-c1f7-e268-6a5a6160e208",
          "attributeId": "3742bb4c-1d36-43e9-91ca-7c9b06a7a387",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "1245faa4-9fd7-ef5b-83de-c0175e69a77d",
          "attributeId": "25fb86e0-cd5c-4827-bb81-b95c606c76a2",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "e25d8ab8-af1a-8d04-3fd0-65ba84c8df2d",
          "attributeId": "1778d9cd-e976-41a5-94d0-f58118650e78",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "7a2d15a6-40f4-991c-b737-7c18dd68d41a",
          "attributeId": "934eb22d-26ab-46df-affb-34b9ca4279bd",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "76ff4ce2-cb01-bc4d-7578-8ecfc98a29bd",
          "attributeId": "da266418-6f9d-49c6-8cd0-b848b7b1865d",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "092256a5-db9a-c447-6167-321d88ae9b6d",
          "attributeId": "fae8d036-d2f9-4122-9788-5a836fde5f14",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "56c3686a-7786-0fc6-a0dd-a4c95a706f41",
          "attributeId": "d8c56aaa-a66c-4c11-885b-63b48132a4ae",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "96f1b8e7-b643-aa3f-b277-aabf706ebf7d",
          "attributeId": "b78e3a71-0a01-4252-9f6d-dedcd79b7a4a",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "4553277b-38c5-c4c7-4b5e-6e6548e42523",
          "attributeId": "79e48f5b-600c-4e8f-93e2-3cba618395df",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "61d32919-834a-a71f-e026-bce0b5bb25f8",
          "attributeId": "628f5950-57f7-4bff-a55e-387c81d3e3ca",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "e28201dd-0c3b-2d14-4c9f-160c7998fa3e",
          "attributeId": "bce4dc52-69b3-4f24-8085-76201ed4b669",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "35f64236-123c-dc6b-a452-464561860aa4",
          "attributeId": "1a3f9d0d-db31-4d8c-a2d8-2667ff9fd2a3",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "54d17c79-3744-4282-efcf-060865504f55",
          "attributeId": "26c17cdf-0e95-42bb-945a-9cc3fea7d591",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "51144661-d71b-0b59-16ff-198ecbc857dc",
          "attributeId": "64ec9ca0-1500-4533-8754-59ebff95a686",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "2f6b5673-f8f2-5478-f446-dab3fd5be8ce",
          "attributeId": "dda35caf-327b-47f8-91ee-106063c882d4",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "a02a549a-5058-1f69-f368-ca194c559fde",
          "attributeId": "c7c38d0a-36b8-4de5-ae08-96b66d3b9181",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "d48cb029-a7d9-2aea-69dd-dd95d88b096f",
          "attributeId": "118adb3e-82fd-4fca-aa90-6d282910ed7c",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "fe09b9bb-479d-6ba0-8b0e-c9d88500521a",
          "attributeId": "394be317-66d0-4ab6-81d7-98d2f10beb29",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "4c53f466-b6c0-af2f-4c7a-bf178c521427",
          "attributeId": "74097b74-c031-4848-af9c-c3e58c34e232",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "c31d70bd-36ca-c41e-cbee-58a1dc77fa82",
          "attributeId": "91423d5e-f275-4f21-ab84-7a9d5d46db97",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "795512d6-b481-39e5-e959-5a25db383794",
          "attributeId": "94071c82-1934-4dcd-aeb4-d43a67baf751",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "bc903762-fd9d-477a-897a-f31191ab1574",
          "attributeId": "762c021b-e51e-41d9-b041-050e239514a6",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "27c6ea73-c748-c583-5e98-629cd9d97adb",
          "attributeId": "a1df9b41-0552-444b-afc4-853c61a4df92",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "2bd8ef71-4bf9-ec7a-36cb-2bde2a9bbb30",
          "attributeId": "9aca7958-c280-41a7-a3c2-97cc64a4c0d7",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "bf81e435-cbd2-3d74-89d2-ca7d6284e40e",
          "attributeId": "34331077-922d-4518-b1d7-c44f32c7b4d7",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "364d0f97-326e-c778-d0af-4a18f757f785",
          "attributeId": "d9bc0fa8-2830-44ca-98b0-b090b8a4bd43",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "38e08629-6858-78ad-8b94-cb4dca7f983b",
          "attributeId": "7d379f52-c607-44ff-82b4-c168d11cbf2c",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "cc8088cc-d1ca-1204-35d1-aa674f94a39f",
          "attributeId": "224bbbad-f587-4987-99d5-213d1433a56f",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "a5a43b55-c65b-552a-9f14-2e4b622882be",
          "attributeId": "6de55289-ed7b-41bc-b92b-699842f92021",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "29ae207b-e54b-b7fb-e0c0-e3ddc706696c",
          "attributeId": "ecf63c07-775f-474a-9b1f-2251837b724b",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "b390d5c8-9665-670e-f730-4a794a67eea0",
          "attributeId": "9c821347-256e-4c35-8597-ce5c8a897c91",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "3446c66c-42d9-9a8e-fe9f-c89039764bed",
          "attributeId": "b6c47371-3c29-4e79-a364-2f50a8ecdaa6",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "d40ab856-431d-ab39-3b4a-88a602207670",
          "attributeId": "282d8a24-a404-45f5-adee-7d75cf038f5b",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "6dd21db0-9e04-cae7-2a66-8d6e9b96c8ab",
          "attributeId": "b06863c1-1413-45b2-a3b4-d503a2e203eb",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "c3127dc5-a8d4-a283-481f-e2e2550c2b11",
          "attributeId": "f61b2ba6-ffaf-4a12-9e20-3a12eea2b2d6",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "625f2947-61cf-1e62-6df6-c3fa80426fad",
          "attributeId": "fa13edb9-6903-448c-a613-0e3bdbb1cffd",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "37d35be8-733e-1480-e851-1df3c28fb78b",
          "attributeId": "472c9ac3-a86f-4844-9b0d-5344b6ff8c90",
          "isEditable": true,
          "isLoadable": true
        },
        {
          "id": "d3b31307-a04e-87e1-c74b-1561503cb904",
          "attributeId": "a110fd38-22b6-4212-9dd0-ff44e6971d58",
          "isEditable": true,
          "isLoadable": true
        }
      ],
      "readOnly": false
    }
  ]
}', [StructDivisionId]=NULL WHERE ([Id]='62BE1681-CB69-4112-BA0B-9CFB32724B58');
