   
	ALTER PROCEDURE [dbo].[spSP_GetRespAns]
		@DplyId NVARCHAR(50),
		@QnnId NVARCHAR(50),
		@RespId NVARCHAR(50)
	AS
	BEGIN

		DECLARE @cols AS NVARCHAR(MAX),
		    @query_singleResp  AS NVARCHAR(MAX),
		    @query_allResp  AS NVARCHAR(MAX),
				@lastNotEmptyField as NVARCHAR(MAX)

		select @lastNotEmptyField = (select top 1 f.Name from QNN_RESP_ANS rs
		inner join QNN_QNN_FIELD f on f.Id = rs.QnnFieldId
		where RespId = @RespId and AnsVal<>'' order by f.NumberId desc)

		select @cols = STUFF((SELECT ',' + QUOTENAME(Name) 
		                    from qnn_qnn_field where QnnId = @QnnId
												and Name<>'swzPdfFormIdentifier' and Name<>'btnSubmit' 
		                    group by Name, NumberId
		                    order by NumberId
		            FOR XML PATH(''), TYPE
		            ).value('.', 'NVARCHAR(MAX)') 
		        ,1,1,'')


		set @query_singleResp = 'SELECT @lastNotEmptyField as [LastNotEmptyField], RespId, NumberId,' + @cols + ' from
		(
		select a.RespId, r.NumberId, f.Name as SurveyFieldName, a.AnsVal from qnn_resp_ans a
		inner join qnn_qnn_field f on f.Id = a.QnnFieldId 
		inner join qnn_resp r on r.Id = a.RespId and f.QnnId=r.QnnId
		where r.Id = @RespId and f.QnnId= @QnnId' + '
		) d 
		pivot
		(
		max(AnsVal) 
		for SurveyFieldName in (' + @cols + ')
		            ) p order by NumberId'

		set @query_allResp = 'SELECT RespId, NumberId, ' + @cols + ' from
		(
		select a.RespId, r.NumberId, f.Name as SurveyFieldName, a.AnsVal from qnn_resp_ans a
		inner join qnn_qnn_field f on f.Id = a.QnnFieldId 
		inner join qnn_resp r on r.Id = a.RespId and f.QnnId=r.QnnId
		where r.DplyId = '''+ @DplyId+ '''' + ' and f.QnnId=''' + @QnnId + '''' + '
		) d 
		pivot
		(
		max(AnsVal) 
		for SurveyFieldName in (' + @cols + ')
		            ) p order by NumberId'


		if @RespId is null
			begin
				execute sp_executesql @query_allResp;
			END
		ELSE
			begin
				execute sp_executesql @query_singleResp, N'@lastNotEmptyField NVARCHAR(300), @RespId NVARCHAR(300), @QnnId NVARCHAR(300)', @lastNotEmptyField, @RespId, @QnnId;
			END
	END

