<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" requestTimeout="03:00:00" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables />
      </aspNetCore>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
        <security>
			<!-- Use the below setting to avoid pinning AD creds to a TCP Session when AD Login is enabled. 
			     You will also need to allow Read/Write for 'Authentication - Windows' under 'Feature Delegation' 
				 in the IIS Configuration UI for the server to avoid a 500.19 error on startup with this setting. 
				 (For IIS Express development environments it requires editing applicationhost.config in the .vs folder)
			<authentication>
				<windowsAuthentication enabled="true" authPersistSingleRequest="true" />
			</authentication>-->
			<requestFiltering removeServerHeader="true">
				<requestLimits maxAllowedContentLength="268435456" />
			</requestFiltering>
		</security>
    </system.webServer>
  </location>
</configuration>