@charset "UTF-8";

@keyframes spinAround {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}


.is-hidden {
    display: none !important
}
/* 
@media screen and (max-width:768px) {
    .is-hidden-mobile {
        display: none !important
    }
}

@media print,screen and (min-width:769px) {
    .is-hidden-tablet {
        display: none !important
    }
}

@media screen and (min-width:769px) and (max-width:1080px) {
    .is-hidden-tablet-only {
        display: none !important
    }
} */

@media screen and (max-width:1080px) {
    .is-hidden-touch {
        display: none !important
    }
}

@media screen and (min-width:1080px) {
    .is-hidden-desktop {
        display: none !important
    }
}

@media screen and (min-width:1080px) and (max-width:1215px) {
    .is-hidden-desktop-only {
        display: none !important
    }
}

@media screen and (min-width:1216px) {
    .is-hidden-widescreen {
        display: none !important
    }
}

@media screen and (min-width:1216px) and (max-width:1407px) {
    .is-hidden-widescreen-only {
        display: none !important
    }
}

@media screen and (min-width:1408px) {
    .is-hidden-fullhd {
        display: none !important
    }
}
/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
/*blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0
}*/

.sgds-footer > .top-section {
    padding: 2rem;
    background: white;
    margin-bottom: -23px;
    box-shadow: inset 0px 8px 8px -10px #CCC, inset 0px -8px 8px -10px #CCC;
}

.sgds-footer .footer-link-title {
    color: #fff
}

.sgds-footer a {
    color: #b7b7b7;
    padding-right: 12px;
    line-height: 20px
}

    .sgds-footer a:hover {
        color: #fff
    }

    .sgds-footer a:last-child {
        padding-right: 0
    }

.sgds-footer p {
    color: Grey;
    line-height: 25px;
    font-size: 1.0625rem
}

    .sgds-footer p + p {
        margin-top: 15px
    }

.sgds-footer ul {
    margin: 0;
    padding: 0;
}

    .sgds-footer ul li {
        display: inline-block;
        margin-top: 0
    }

@media screen and (max-width:1080px) {
    .sgds-footer ul li {
        display: block
    }
}

.sgds-footer ul li.icons {
    margin-right: 10px
}

.sgds-footer ul li a {
    color: Grey
}

    .sgds-footer ul li a:hover {
        color: #484848;
        text-decoration: underline;
    }

.sgds-footer ul li + li:not(.icons) {
    margin-left: 15px
}

@media screen and (max-width:1080px) {
    .sgds-footer ul li + li:not(.icons) {
        margin-left: 0;
        margin-top: 15px
    }
}

.sgds-footer.sgds-footer-links li + li {
    margin-left: 10px
}

.sgds-footer .is-right-desktop-only {
    text-align: right;
    padding-top: 4px;
}

@media screen and (max-width:1080px) {
    .sgds-footer .is-right-desktop-only {
        text-align: left
    }
}

.sgds-footer > .bottom-section {
    padding: 2rem;
    background: white;
  /*   padding: 21px; */
    padding-bottom: 26px;
}

    .sgds-footer > .bottom-section .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

@media screen and (max-width:1080px) {
    .sgds-footer > .bottom-section .row {
        display: block
    }
}

/* .sgds-footer > .bottom-section .row .col {
    padding-top: .5rem
} 

    .sgds-footer > .bottom-section .row .col:last-child {
        padding-top: 0
    }
*/
.sgds-footer > .bottom-section p {
    font-size: 1.0625rem;
    margin-bottom: 0
}

.is-hidden-desktop.last-updated {
    margin-top: 2px
}



.col {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem
}

    .col.is-boxed {
        border: 1px solid #f0f0f0
    }

    .col.has-carousel {
        min-width: 0
    }

.row.is-mobile > .col.is-narrow {
    flex: none
}

.row.is-mobile > .col.is-full {
    flex: none;
    width: 100%
}

.row.is-mobile > .col.is-three-quarters {
    flex: none;
    width: 75%
}

.row.is-mobile > .col.is-two-thirds {
    flex: none;
    width: 66.6666%
}

.row.is-mobile > .col.is-half {
    flex: none;
    width: 50%
}

.row.is-mobile > .col.is-one-third {
    flex: none;
    width: 33.3333%
}

.row.is-mobile > .col.is-one-quarter {
    flex: none;
    width: 25%
}

.row.is-mobile > .col.is-one-fifth {
    flex: none;
    width: 20%
}

.row.is-mobile > .col.is-two-fifths {
    flex: none;
    width: 40%
}

.row.is-mobile > .col.is-three-fifths {
    flex: none;
    width: 60%
}

.row.is-mobile > .col.is-four-fifths {
    flex: none;
    width: 80%
}

.row.is-mobile > .col.is-offset-three-quarters {
    margin-left: 75%
}

.row.is-mobile > .col.is-offset-two-thirds {
    margin-left: 66.6666%
}

.row.is-mobile > .col.is-offset-half {
    margin-left: 50%
}

.row.is-mobile > .col.is-offset-one-third {
    margin-left: 33.3333%
}

.row.is-mobile > .col.is-offset-one-quarter {
    margin-left: 25%
}

.row.is-mobile > .col.is-offset-one-fifth {
    margin-left: 20%
}

.row.is-mobile > .col.is-offset-two-fifths {
    margin-left: 40%
}

.row.is-mobile > .col.is-offset-three-fifths {
    margin-left: 60%
}

.row.is-mobile > .col.is-offset-four-fifths {
    margin-left: 80%
}

.row.is-mobile > .col.is-1 {
    flex: none;
    width: 8.33333%
}

.row.is-mobile > .col.is-offset-1 {
    margin-left: 8.33333%
}

.row.is-mobile > .col.is-2 {
    flex: none;
    width: 16.66667%
}

.row.is-mobile > .col.is-offset-2 {
    margin-left: 16.66667%
}

.row.is-mobile > .col.is-3 {
    flex: none;
    width: 25%
}

.row.is-mobile > .col.is-offset-3 {
    margin-left: 25%
}

.row.is-mobile > .col.is-4 {
    flex: none;
    width: 33.33333%
}

.row.is-mobile > .col.is-offset-4 {
    margin-left: 33.33333%
}

.row.is-mobile > .col.is-5 {
    flex: none;
    width: 41.66667%
}

.row.is-mobile > .col.is-offset-5 {
    margin-left: 41.66667%
}

.row.is-mobile > .col.is-6 {
    flex: none;
    width: 50%
}

.row.is-mobile > .col.is-offset-6 {
    margin-left: 50%
}

.row.is-mobile > .col.is-7 {
    flex: none;
    width: 58.33333%
}

.row.is-mobile > .col.is-offset-7 {
    margin-left: 58.33333%
}

.row.is-mobile > .col.is-8 {
    flex: none;
    width: 66.66667%
}

.row.is-mobile > .col.is-offset-8 {
    margin-left: 66.66667%
}

.row.is-mobile > .col.is-9 {
    flex: none;
    width: 75%
}

.row.is-mobile > .col.is-offset-9 {
    margin-left: 75%
}

.row.is-mobile > .col.is-10 {
    flex: none;
    width: 83.33333%
}

.row.is-mobile > .col.is-offset-10 {
    margin-left: 83.33333%
}

.row.is-mobile > .col.is-11 {
    flex: none;
    width: 91.66667%
}

.row.is-mobile > .col.is-offset-11 {
    margin-left: 91.66667%
}

.row.is-mobile > .col.is-12 {
    flex: none;
    width: 100%
}

.row.is-mobile > .col.is-offset-12 {
    margin-left: 100%
}

@media screen and (max-width:768px) {
    .col.is-narrow-mobile {
        flex: none
    }

    .col.is-full-mobile {
        flex: none;
        width: 100%
    }

    .col.is-three-quarters-mobile {
        flex: none;
        width: 75%
    }

    .col.is-two-thirds-mobile {
        flex: none;
        width: 66.6666%
    }

    .col.is-half-mobile {
        flex: none;
        width: 50%
    }

    .col.is-one-third-mobile {
        flex: none;
        width: 33.3333%
    }

    .col.is-one-quarter-mobile {
        flex: none;
        width: 25%
    }

    .col.is-one-fifth-mobile {
        flex: none;
        width: 20%
    }

    .col.is-two-fifths-mobile {
        flex: none;
        width: 40%
    }

    .col.is-three-fifths-mobile {
        flex: none;
        width: 60%
    }

    .col.is-four-fifths-mobile {
        flex: none;
        width: 80%
    }

    .col.is-offset-three-quarters-mobile {
        margin-left: 75%
    }

    .col.is-offset-two-thirds-mobile {
        margin-left: 66.6666%
    }

    .col.is-offset-half-mobile {
        margin-left: 50%
    }

    .col.is-offset-one-third-mobile {
        margin-left: 33.3333%
    }

    .col.is-offset-one-quarter-mobile {
        margin-left: 25%
    }

    .col.is-offset-one-fifth-mobile {
        margin-left: 20%
    }

    .col.is-offset-two-fifths-mobile {
        margin-left: 40%
    }

    .col.is-offset-three-fifths-mobile {
        margin-left: 60%
    }

    .col.is-offset-four-fifths-mobile {
        margin-left: 80%
    }

    .col.is-1-mobile {
        flex: none;
        width: 8.33333%
    }

    .col.is-offset-1-mobile {
        margin-left: 8.33333%
    }

    .col.is-2-mobile {
        flex: none;
        width: 16.66667%
    }

    .col.is-offset-2-mobile {
        margin-left: 16.66667%
    }

    .col.is-3-mobile {
        flex: none;
        width: 25%
    }

    .col.is-offset-3-mobile {
        margin-left: 25%
    }

    .col.is-4-mobile {
        flex: none;
        width: 33.33333%
    }

    .col.is-offset-4-mobile {
        margin-left: 33.33333%
    }

    .col.is-5-mobile {
        flex: none;
        width: 41.66667%
    }

    .col.is-offset-5-mobile {
        margin-left: 41.66667%
    }

    .col.is-6-mobile {
        flex: none;
        width: 50%
    }

    .col.is-offset-6-mobile {
        margin-left: 50%
    }

    .col.is-7-mobile {
        flex: none;
        width: 58.33333%
    }

    .col.is-offset-7-mobile {
        margin-left: 58.33333%
    }

    .col.is-8-mobile {
        flex: none;
        width: 66.66667%
    }

    .col.is-offset-8-mobile {
        margin-left: 66.66667%
    }

    .col.is-9-mobile {
        flex: none;
        width: 75%
    }

    .col.is-offset-9-mobile {
        margin-left: 75%
    }

    .col.is-10-mobile {
        flex: none;
        width: 83.33333%
    }

    .col.is-offset-10-mobile {
        margin-left: 83.33333%
    }

    .col.is-11-mobile {
        flex: none;
        width: 91.66667%
    }

    .col.is-offset-11-mobile {
        margin-left: 91.66667%
    }

    .col.is-12-mobile {
        flex: none;
        width: 100%
    }

    .col.is-offset-12-mobile {
        margin-left: 100%
    }
}

@media print,screen and (min-width:1080px) {
    .col.is-narrow, .col.is-narrow-tablet {
        flex: none
    }

    .col.is-full, .col.is-full-tablet {
        flex: none;
        width: 100%
    }

    .col.is-three-quarters, .col.is-three-quarters-tablet {
        flex: none;
        width: 75%
    }

    .col.is-two-thirds, .col.is-two-thirds-tablet {
        flex: none;
        width: 66.6666%
    }

    .col.is-half, .col.is-half-tablet {
        flex: none;
        width: 50%
    }

    .col.is-one-third, .col.is-one-third-tablet {
        flex: none;
        width: 33.3333%
    }

    .col.is-one-quarter, .col.is-one-quarter-tablet {
        flex: none;
        width: 25%
    }

    .col.is-one-fifth, .col.is-one-fifth-tablet {
        flex: none;
        width: 20%
    }

    .col.is-two-fifths, .col.is-two-fifths-tablet {
        flex: none;
        width: 40%
    }

    .col.is-three-fifths, .col.is-three-fifths-tablet {
        flex: none;
        width: 60%
    }

    .col.is-four-fifths, .col.is-four-fifths-tablet {
        flex: none;
        width: 80%
    }

    .col.is-offset-three-quarters, .col.is-offset-three-quarters-tablet {
        margin-left: 75%
    }

    .col.is-offset-two-thirds, .col.is-offset-two-thirds-tablet {
        margin-left: 66.6666%
    }

    .col.is-offset-half, .col.is-offset-half-tablet {
        margin-left: 50%
    }

    .col.is-offset-one-third, .col.is-offset-one-third-tablet {
        margin-left: 33.3333%
    }

    .col.is-offset-one-quarter, .col.is-offset-one-quarter-tablet {
        margin-left: 25%
    }

    .col.is-offset-one-fifth, .col.is-offset-one-fifth-tablet {
        margin-left: 20%
    }

    .col.is-offset-two-fifths, .col.is-offset-two-fifths-tablet {
        margin-left: 40%
    }

    .col.is-offset-three-fifths, .col.is-offset-three-fifths-tablet {
        margin-left: 60%
    }

    .col.is-offset-four-fifths, .col.is-offset-four-fifths-tablet {
        margin-left: 80%
    }

    .col.is-1, .col.is-1-tablet {
        flex: none;
        width: 8.33333%
    }

    .col.is-offset-1, .col.is-offset-1-tablet {
        margin-left: 8.33333%
    }

    .col.is-2, .col.is-2-tablet {
        flex: none;
        width: 16.66667%
    }

    .col.is-offset-2, .col.is-offset-2-tablet {
        margin-left: 16.66667%
    }

    .col.is-3, .col.is-3-tablet {
        flex: none;
        width: 25%
    }

    .col.is-offset-3, .col.is-offset-3-tablet {
        margin-left: 25%
    }

    .col.is-4, .col.is-4-tablet {
        flex: none;
        width: 33.33333%
    }

    .col.is-offset-4, .col.is-offset-4-tablet {
        margin-left: 33.33333%
    }

    .col.is-5, .col.is-5-tablet {
        flex: none;
        width: 41.66667%
    }

    .col.is-offset-5, .col.is-offset-5-tablet {
        margin-left: 41.66667%
    }

    .col.is-6, .col.is-6-tablet {
        flex: none;
        width: 50%
    }

    .col.is-offset-6, .col.is-offset-6-tablet {
        margin-left: 50%
    }

    .col.is-7, .col.is-7-tablet {
        flex: none;
        width: 58.33333%
    }

    .col.is-offset-7, .col.is-offset-7-tablet {
        margin-left: 58.33333%
    }

    .col.is-8, .col.is-8-tablet {
        flex: none;
        width: 66.66667%
    }

    .col.is-offset-8, .col.is-offset-8-tablet {
        margin-left: 66.66667%
    }

    .col.is-9, .col.is-9-tablet {
        flex: none;
        width: 75%
    }

    .col.is-offset-9, .col.is-offset-9-tablet {
        margin-left: 75%
    }

    .col.is-10, .col.is-10-tablet {
        flex: none;
        width: 83.33333%
    }

    .col.is-offset-10, .col.is-offset-10-tablet {
        margin-left: 83.33333%
    }

    .col.is-11, .col.is-11-tablet {
        flex: none;
        width: 91.66667%
    }

    .col.is-offset-11, .col.is-offset-11-tablet {
        margin-left: 91.66667%
    }

    .col.is-12, .col.is-12-tablet {
        flex: none;
        width: 100%
    }

    .col.is-offset-12, .col.is-offset-12-tablet {
        margin-left: 100%
    }
}

@media screen and (max-width:1080px) {
    .col.is-narrow-touch {
        flex: none
    }

    .col.is-full-touch {
        flex: none;
        width: 100%
    }

    .col.is-three-quarters-touch {
        flex: none;
        width: 75%
    }

    .col.is-two-thirds-touch {
        flex: none;
        width: 66.6666%
    }

    .col.is-half-touch {
        flex: none;
        width: 50%
    }

    .col.is-one-third-touch {
        flex: none;
        width: 33.3333%
    }

    .col.is-one-quarter-touch {
        flex: none;
        width: 25%
    }

    .col.is-one-fifth-touch {
        flex: none;
        width: 20%
    }

    .col.is-two-fifths-touch {
        flex: none;
        width: 40%
    }

    .col.is-three-fifths-touch {
        flex: none;
        width: 60%
    }

    .col.is-four-fifths-touch {
        flex: none;
        width: 80%
    }

    .col.is-offset-three-quarters-touch {
        margin-left: 75%
    }

    .col.is-offset-two-thirds-touch {
        margin-left: 66.6666%
    }

    .col.is-offset-half-touch {
        margin-left: 50%
    }

    .col.is-offset-one-third-touch {
        margin-left: 33.3333%
    }

    .col.is-offset-one-quarter-touch {
        margin-left: 25%
    }

    .col.is-offset-one-fifth-touch {
        margin-left: 20%
    }

    .col.is-offset-two-fifths-touch {
        margin-left: 40%
    }

    .col.is-offset-three-fifths-touch {
        margin-left: 60%
    }

    .col.is-offset-four-fifths-touch {
        margin-left: 80%
    }

    .col.is-1-touch {
        flex: none;
        width: 8.33333%
    }

    .col.is-offset-1-touch {
        margin-left: 8.33333%
    }

    .col.is-2-touch {
        flex: none;
        width: 16.66667%
    }

    .col.is-offset-2-touch {
        margin-left: 16.66667%
    }

    .col.is-3-touch {
        flex: none;
        width: 25%
    }

    .col.is-offset-3-touch {
        margin-left: 25%
    }

    .col.is-4-touch {
        flex: none;
        width: 33.33333%
    }

    .col.is-offset-4-touch {
        margin-left: 33.33333%
    }

    .col.is-5-touch {
        flex: none;
        width: 41.66667%
    }

    .col.is-offset-5-touch {
        margin-left: 41.66667%
    }

    .col.is-6-touch {
        flex: none;
        width: 50%
    }

    .col.is-offset-6-touch {
        margin-left: 50%
    }

    .col.is-7-touch {
        flex: none;
        width: 58.33333%
    }

    .col.is-offset-7-touch {
        margin-left: 58.33333%
    }

    .col.is-8-touch {
        flex: none;
        width: 66.66667%
    }

    .col.is-offset-8-touch {
        margin-left: 66.66667%
    }

    .col.is-9-touch {
        flex: none;
        width: 75%
    }

    .col.is-offset-9-touch {
        margin-left: 75%
    }

    .col.is-10-touch {
        flex: none;
        width: 83.33333%
    }

    .col.is-offset-10-touch {
        margin-left: 83.33333%
    }

    .col.is-11-touch {
        flex: none;
        width: 91.66667%
    }

    .col.is-offset-11-touch {
        margin-left: 91.66667%
    }

    .col.is-12-touch {
        flex: none;
        width: 100%
    }

    .col.is-offset-12-touch {
        margin-left: 100%
    }
}

@media screen and (min-width:1080px) {
    .col.is-narrow-desktop {
        flex: none
    }

    .col.is-full-desktop {
        flex: none;
        width: 100%
    }

    .col.is-three-quarters-desktop {
        flex: none;
        width: 75%
    }

    .col.is-two-thirds-desktop {
        flex: none;
        width: 66.6666%
    }

    .col.is-half-desktop {
        flex: none;
        width: 50%
    }

    .col.is-one-third-desktop {
        flex: none;
        width: 33.3333%
    }

    .col.is-one-quarter-desktop {
        flex: none;
        width: 25%
    }

    .col.is-one-fifth-desktop {
        flex: none;
        width: 20%
    }

    .col.is-two-fifths-desktop {
        flex: none;
        width: 40%
    }

    .col.is-three-fifths-desktop {
        flex: none;
        width: 60%
    }

    .col.is-four-fifths-desktop {
        flex: none;
        width: 80%
    }

    .col.is-offset-three-quarters-desktop {
        margin-left: 75%
    }

    .col.is-offset-two-thirds-desktop {
        margin-left: 66.6666%
    }

    .col.is-offset-half-desktop {
        margin-left: 50%
    }

    .col.is-offset-one-third-desktop {
        margin-left: 33.3333%
    }

    .col.is-offset-one-quarter-desktop {
        margin-left: 25%
    }

    .col.is-offset-one-fifth-desktop {
        margin-left: 20%
    }

    .col.is-offset-two-fifths-desktop {
        margin-left: 40%
    }

    .col.is-offset-three-fifths-desktop {
        margin-left: 60%
    }

    .col.is-offset-four-fifths-desktop {
        margin-left: 80%
    }

    .col.is-1-desktop {
        flex: none;
        width: 8.33333%
    }

    .col.is-offset-1-desktop {
        margin-left: 8.33333%
    }

    .col.is-2-desktop {
        flex: none;
        width: 16.66667%
    }

    .col.is-offset-2-desktop {
        margin-left: 16.66667%
    }

    .col.is-3-desktop {
        flex: none;
        width: 25%
    }

    .col.is-offset-3-desktop {
        margin-left: 25%
    }

    .col.is-4-desktop {
        flex: none;
        width: 33.33333%
    }

    .col.is-offset-4-desktop {
        margin-left: 33.33333%
    }

    .col.is-5-desktop {
        flex: none;
        width: 41.66667%
    }

    .col.is-offset-5-desktop {
        margin-left: 41.66667%
    }

    .col.is-6-desktop {
        flex: none;
        width: 50%
    }

    .col.is-offset-6-desktop {
        margin-left: 50%
    }

    .col.is-7-desktop {
        flex: none;
        width: 58.33333%
    }

    .col.is-offset-7-desktop {
        margin-left: 58.33333%
    }

    .col.is-8-desktop {
        flex: none;
        width: 66.66667%
    }

    .col.is-offset-8-desktop {
        margin-left: 66.66667%
    }

    .col.is-9-desktop {
        flex: none;
        width: 75%
    }

    .col.is-offset-9-desktop {
        margin-left: 75%
    }

    .col.is-10-desktop {
        flex: none;
        width: 83.33333%
    }

    .col.is-offset-10-desktop {
        margin-left: 83.33333%
    }

    .col.is-11-desktop {
        flex: none;
        width: 91.66667%
    }

    .col.is-offset-11-desktop {
        margin-left: 91.66667%
    }

    .col.is-12-desktop {
        flex: none;
        width: 100%
    }

    .col.is-offset-12-desktop {
        margin-left: 100%
    }
}

@media screen and (min-width:1216px) {
    .col.is-narrow-widescreen {
        flex: none
    }

    .col.is-full-widescreen {
        flex: none;
        width: 100%
    }

    .col.is-three-quarters-widescreen {
        flex: none;
        width: 75%
    }

    .col.is-two-thirds-widescreen {
        flex: none;
        width: 66.6666%
    }

    .col.is-half-widescreen {
        flex: none;
        width: 50%
    }

    .col.is-one-third-widescreen {
        flex: none;
        width: 33.3333%
    }

    .col.is-one-quarter-widescreen {
        flex: none;
        width: 25%
    }

    .col.is-one-fifth-widescreen {
        flex: none;
        width: 20%
    }

    .col.is-two-fifths-widescreen {
        flex: none;
        width: 40%
    }

    .col.is-three-fifths-widescreen {
        flex: none;
        width: 60%
    }

    .col.is-four-fifths-widescreen {
        flex: none;
        width: 80%
    }

    .col.is-offset-three-quarters-widescreen {
        margin-left: 75%
    }

    .col.is-offset-two-thirds-widescreen {
        margin-left: 66.6666%
    }

    .col.is-offset-half-widescreen {
        margin-left: 50%
    }

    .col.is-offset-one-third-widescreen {
        margin-left: 33.3333%
    }

    .col.is-offset-one-quarter-widescreen {
        margin-left: 25%
    }

    .col.is-offset-one-fifth-widescreen {
        margin-left: 20%
    }

    .col.is-offset-two-fifths-widescreen {
        margin-left: 40%
    }

    .col.is-offset-three-fifths-widescreen {
        margin-left: 60%
    }

    .col.is-offset-four-fifths-widescreen {
        margin-left: 80%
    }

    .col.is-1-widescreen {
        flex: none;
        width: 8.33333%
    }

    .col.is-offset-1-widescreen {
        margin-left: 8.33333%
    }

    .col.is-2-widescreen {
        flex: none;
        width: 16.66667%
    }

    .col.is-offset-2-widescreen {
        margin-left: 16.66667%
    }

    .col.is-3-widescreen {
        flex: none;
        width: 25%
    }

    .col.is-offset-3-widescreen {
        margin-left: 25%
    }

    .col.is-4-widescreen {
        flex: none;
        width: 33.33333%
    }

    .col.is-offset-4-widescreen {
        margin-left: 33.33333%
    }

    .col.is-5-widescreen {
        flex: none;
        width: 41.66667%
    }

    .col.is-offset-5-widescreen {
        margin-left: 41.66667%
    }

    .col.is-6-widescreen {
        flex: none;
        width: 50%
    }

    .col.is-offset-6-widescreen {
        margin-left: 50%
    }

    .col.is-7-widescreen {
        flex: none;
        width: 58.33333%
    }

    .col.is-offset-7-widescreen {
        margin-left: 58.33333%
    }

    .col.is-8-widescreen {
        flex: none;
        width: 66.66667%
    }

    .col.is-offset-8-widescreen {
        margin-left: 66.66667%
    }

    .col.is-9-widescreen {
        flex: none;
        width: 75%
    }

    .col.is-offset-9-widescreen {
        margin-left: 75%
    }

    .col.is-10-widescreen {
        flex: none;
        width: 83.33333%
    }

    .col.is-offset-10-widescreen {
        margin-left: 83.33333%
    }

    .col.is-11-widescreen {
        flex: none;
        width: 91.66667%
    }

    .col.is-offset-11-widescreen {
        margin-left: 91.66667%
    }

    .col.is-12-widescreen {
        flex: none;
        width: 100%
    }

    .col.is-offset-12-widescreen {
        margin-left: 100%
    }
}

@media screen and (min-width:1408px) {
    .col.is-narrow-fullhd {
        flex: none
    }

    .col.is-full-fullhd {
        flex: none;
        width: 100%
    }

    .col.is-three-quarters-fullhd {
        flex: none;
        width: 75%
    }

    .col.is-two-thirds-fullhd {
        flex: none;
        width: 66.6666%
    }

    .col.is-half-fullhd {
        flex: none;
        width: 50%
    }

    .col.is-one-third-fullhd {
        flex: none;
        width: 33.3333%
    }

    .col.is-one-quarter-fullhd {
        flex: none;
        width: 25%
    }

    .col.is-one-fifth-fullhd {
        flex: none;
        width: 20%
    }

    .col.is-two-fifths-fullhd {
        flex: none;
        width: 40%
    }

    .col.is-three-fifths-fullhd {
        flex: none;
        width: 60%
    }

    .col.is-four-fifths-fullhd {
        flex: none;
        width: 80%
    }

    .col.is-offset-three-quarters-fullhd {
        margin-left: 75%
    }

    .col.is-offset-two-thirds-fullhd {
        margin-left: 66.6666%
    }

    .col.is-offset-half-fullhd {
        margin-left: 50%
    }

    .col.is-offset-one-third-fullhd {
        margin-left: 33.3333%
    }

    .col.is-offset-one-quarter-fullhd {
        margin-left: 25%
    }

    .col.is-offset-one-fifth-fullhd {
        margin-left: 20%
    }

    .col.is-offset-two-fifths-fullhd {
        margin-left: 40%
    }

    .col.is-offset-three-fifths-fullhd {
        margin-left: 60%
    }

    .col.is-offset-four-fifths-fullhd {
        margin-left: 80%
    }

    .col.is-1-fullhd {
        flex: none;
        width: 8.33333%
    }

    .col.is-offset-1-fullhd {
        margin-left: 8.33333%
    }

    .col.is-2-fullhd {
        flex: none;
        width: 16.66667%
    }

    .col.is-offset-2-fullhd {
        margin-left: 16.66667%
    }

    .col.is-3-fullhd {
        flex: none;
        width: 25%
    }

    .col.is-offset-3-fullhd {
        margin-left: 25%
    }

    .col.is-4-fullhd {
        flex: none;
        width: 33.33333%
    }

    .col.is-offset-4-fullhd {
        margin-left: 33.33333%
    }

    .col.is-5-fullhd {
        flex: none;
        width: 41.66667%
    }

    .col.is-offset-5-fullhd {
        margin-left: 41.66667%
    }

    .col.is-6-fullhd {
        flex: none;
        width: 50%
    }

    .col.is-offset-6-fullhd {
        margin-left: 50%
    }

    .col.is-7-fullhd {
        flex: none;
        width: 58.33333%
    }

    .col.is-offset-7-fullhd {
        margin-left: 58.33333%
    }

    .col.is-8-fullhd {
        flex: none;
        width: 66.66667%
    }

    .col.is-offset-8-fullhd {
        margin-left: 66.66667%
    }

    .col.is-9-fullhd {
        flex: none;
        width: 75%
    }

    .col.is-offset-9-fullhd {
        margin-left: 75%
    }

    .col.is-10-fullhd {
        flex: none;
        width: 83.33333%
    }

    .col.is-offset-10-fullhd {
        margin-left: 83.33333%
    }

    .col.is-11-fullhd {
        flex: none;
        width: 91.66667%
    }

    .col.is-offset-11-fullhd {
        margin-left: 91.66667%
    }

    .col.is-12-fullhd {
        flex: none;
        width: 100%
    }

    .col.is-offset-12-fullhd {
        margin-left: 100%
    }
}

.row {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem
}

    .row:last-child {
        margin-bottom: -.75rem
    }

    .row:not(:last-child) {
        margin-bottom: .75rem
    }

    .row.is-centered {
        justify-content: center
    }

    .row.is-gapless {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0
    }

        .row.is-gapless > .col {
            margin: 0;
            padding: 0 !important
        }

        .row.is-gapless:not(:last-child) {
            margin-bottom: 1.5rem
        }

        .row.is-gapless:last-child {
            margin-bottom: 0
        }

    .row.is-mobile {
        display: flex
    }

    .row.is-multiline {
        flex-wrap: wrap
    }

    .row.is-vcentered {
        align-items: center
    }

@media print,screen and (min-width:1080px) {
    .row:not(.is-desktop) {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:1080px) {
    .row.is-desktop {
        display: flex;
        justify-content: space-between;
    }
}

.row.is-variable {
    --columnGap: 0.75rem;
    margin-left: calc(-1*var(--columnGap));
    margin-right: calc(-1*var(--columnGap))
}

    .row.is-variable .col {
        padding-left: var(--columnGap);
        padding-right: var(--columnGap)
    }

    .row.is-variable.is-0 {
        --columnGap: 0rem
    }

    .row.is-variable.is-1 {
        --columnGap: 0.25rem
    }

    .row.is-variable.is-2 {
        --columnGap: 0.5rem
    }

    .row.is-variable.is-3 {
        --columnGap: 0.75rem
    }

    .row.is-variable.is-4 {
        --columnGap: 1rem
    }

    .row.is-variable.is-5 {
        --columnGap: 1.25rem
    }

    .row.is-variable.is-6 {
        --columnGap: 1.5rem
    }

    .row.is-variable.is-7 {
        --columnGap: 1.75rem
    }

    .row.is-variable.is-8 {
        --columnGap: 2rem
    }

.sgds-container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    padding-bottom: .5em;
}

    .sgds-container.is-flex-desktop-only {
        max-width: none;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%
    }

    .sgds-container.is-full {
        margin: 0
    }

@media screen and (min-width:1080px) {
    .sgds-container {
    /*     max-width: 960px */
/*         max-width: 1152px */
    }
}

/* @media screen and (max-width:1215px) {
    .sgds-container.is-widescreen {
        max-width: 1152px
    }
} */

.sgds-container.is-boxed {
    border: 1px solid #d6d6d6
}

.sgds-section {
    padding: 3rem 1.5rem
}

@media screen and (min-width:1080px) {
    .sgds-section.is-small {
        padding: 1.5rem
    }

    .sgds-section.is-xsmall {
        padding: 1rem 1.5rem
    }

    .sgds-section.is-medium {
        padding: 9rem 1.5rem
    }

    .sgds-section.is-large {
        padding: 18rem 1.5rem
    }

    .sgds-section.is-full {
        padding: 0
    }
}

@media screen and (max-width:768px) {
    .sgds-section.is-small {
        padding: 1.5rem
    }
}

@font-face{font-family:sgds-icons;src:url(../css/fonts/sgds-icons.ttf) format("truetype"),url(../css/fonts/sgds-icons.woff) format("woff"),url(../css/fonts/sgds-icons.svg?#sgds-icons) format("svg");font-weight:400;font-style:normal}.sgds-icon{font-family:sgds-icons!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.sgds-icon-breadcrumb:before{content:"\e9a2"}.sgds-icon-callout:before{content:"\e9a3"}.sgds-icon-hero:before{content:"\e9a4"}.sgds-icon-mainnav:before{content:"\e9a5"}.sgds-icon-sidenav:before{content:"\e9a6"}.sgds-icon-table:before{content:"\e9a7"}.sgds-icon-typography:before{content:"\e9a8"}.sgds-icon-delete:before{content:"\e997"}.sgds-icon-grid-alt:before{content:"\e998"}.sgds-icon-pause-alt:before{content:"\e999"}.sgds-icon-pause:before{content:"\e99a"}.sgds-icon-pencil:before{content:"\e99b"}.sgds-icon-play-alt:before{content:"\e99c"}.sgds-icon-play:before{content:"\e99d"}.sgds-icon-privacy-alt:before{content:"\e99e"}.sgds-icon-privacy:before{content:"\e99f"}.sgds-icon-signal:before{content:"\e9a0"}.sgds-icon-stop:before{content:"\e9a1"}.sgds-icon-telephone:before{content:"\e97c"}.sgds-icon-bookmark-alt:before{content:"\e995"}.sgds-icon-star-alt:before{content:"\e996"}.sgds-icon-guides:before{content:"\e97d"}.sgds-icon-sentimeter:before{content:"\e97e"}.sgds-icon-sharepoint:before{content:"\e97f"}.sgds-icon-sitecore:before{content:"\e980"}.sgds-icon-sitefinity:before{content:"\e981"}.sgds-icon-swiit:before{content:"\e982"}.sgds-icon-wordpress:before{content:"\e983"}.sgds-icon-accordion:before{content:"\e984"}.sgds-icon-button:before{content:"\e985"}.sgds-icon-card:before{content:"\e986"}.sgds-icon-checklist:before{content:"\e987"}.sgds-icon-container:before{content:"\e988"}.sgds-icon-dropdown:before{content:"\e989"}.sgds-icon-footer:before{content:"\e98a"}.sgds-icon-grid:before{content:"\e98b"}.sgds-icon-icons:before{content:"\e98c"}.sgds-icon-masthead:before{content:"\e98d"}.sgds-icon-section:before{content:"\e98e"}.sgds-icon-tab:before{content:"\e98f"}.sgds-icon-atom:before{content:"\e990"}.sgds-icon-molecule:before{content:"\e991"}.sgds-icon-organism:before{content:"\e992"}.sgds-icon-page:before{content:"\e993"}.sgds-icon-template:before{content:"\e994"}.sgds-icon-add-image:before{content:"\e973"}.sgds-icon-attachment:before{content:"\e974"}.sgds-icon-cloud:before{content:"\e975"}.sgds-icon-contact:before{content:"\e976"}.sgds-icon-create-folder:before{content:"\e977"}.sgds-icon-delay:before{content:"\e978"}.sgds-icon-file-copy:before{content:"\e979"}.sgds-icon-file-pdf:before{content:"\e97a"}.sgds-icon-folder:before{content:"\e97b"}.sgds-icon-add-photo:before{content:"\e900"}.sgds-icon-browser:before{content:"\e901"}.sgds-icon-calculator:before{content:"\e902"}.sgds-icon-camera:before{content:"\e903"}.sgds-icon-clock:before{content:"\e904"}.sgds-icon-cloud-download:before{content:"\e905"}.sgds-icon-cloud-success:before{content:"\e906"}.sgds-icon-cloud-upload:before{content:"\e907"}.sgds-icon-database:before{content:"\e908"}.sgds-icon-download:before{content:"\e909"}.sgds-icon-file-add:before{content:"\e90a"}.sgds-icon-file-alt:before{content:"\e90b"}.sgds-icon-file:before{content:"\e90c"}.sgds-icon-hdd:before{content:"\e90d"}.sgds-icon-image:before{content:"\e90e"}.sgds-icon-link:before{content:"\e90f"}.sgds-icon-lock:before{content:"\e910"}.sgds-icon-mail:before{content:"\e911"}.sgds-icon-print:before{content:"\e912"}.sgds-icon-radar:before{content:"\e913"}.sgds-icon-save:before{content:"\e914"}.sgds-icon-share:before{content:"\e915"}.sgds-icon-unlock:before{content:"\e916"}.sgds-icon-upload:before{content:"\e917"}.sgds-icon-volume-mute:before{content:"\e918"}.sgds-icon-volume:before{content:"\e919"}.sgds-icon-docker:before{content:"\e91a"}.sgds-icon-facebook-alt:before{content:"\e91b"}.sgds-icon-facebook:before{content:"\e91c"}.sgds-icon-google:before{content:"\e91d"}.sgds-icon-instagram:before{content:"\e91e"}.sgds-icon-linkedin-alt:before{content:"\e91f"}.sgds-icon-linkedin:before{content:"\e920"}.sgds-icon-person-add:before{content:"\e921"}.sgds-icon-person-cancel:before{content:"\e922"}.sgds-icon-person-remove:before{content:"\e923"}.sgds-icon-person:before{content:"\e924"}.sgds-icon-rss:before{content:"\e925"}.sgds-icon-thumbs-down:before{content:"\e926"}.sgds-icon-thumbs-up:before{content:"\e927"}.sgds-icon-twitter:before{content:"\e928"}.sgds-icon-youtube:before{content:"\e929"}.sgds-icon-add-place:before{content:"\e92a"}.sgds-icon-boat:before{content:"\e92b"}.sgds-icon-bus:before{content:"\e92c"}.sgds-icon-car:before{content:"\e92d"}.sgds-icon-layers:before{content:"\e92e"}.sgds-icon-map:before{content:"\e92f"}.sgds-icon-my-location:before{content:"\e930"}.sgds-icon-place:before{content:"\e931"}.sgds-icon-taxi:before{content:"\e932"}.sgds-icon-traffic:before{content:"\e933"}.sgds-icon-train:before{content:"\e934"}.sgds-icon-arrow-down:before{content:"\e935"}.sgds-icon-arrow-left:before{content:"\e936"}.sgds-icon-arrow-right:before{content:"\e937"}.sgds-icon-arrow-top-left:before{content:"\e938"}.sgds-icon-arrow-top-right:before{content:"\e939"}.sgds-icon-arrow-up:before{content:"\e93a"}.sgds-icon-check:before{content:"\e93b"}.sgds-icon-chevron-down:before{content:"\e93c"}.sgds-icon-chevron-left:before{content:"\e93d"}.sgds-icon-chevron-right:before{content:"\e93e"}.sgds-icon-chevron-up:before{content:"\e93f"}.sgds-icon-cog:before{content:"\e940"}.sgds-icon-cross:before{content:"\e941"}.sgds-icon-ellipsis:before{content:"\e942"}.sgds-icon-home:before{content:"\e943"}.sgds-icon-menu:before{content:"\e944"}.sgds-icon-minus:before{content:"\e945"}.sgds-icon-notification:before{content:"\e946"}.sgds-icon-plus:before{content:"\e947"}.sgds-icon-sg-crest:before{content:"\e948";color:#db0000}.sgds-icon-text-center:before{content:"\e949"}.sgds-icon-text-justify:before{content:"\e94a"}.sgds-icon-text-left:before{content:"\e94b"}.sgds-icon-text-right:before{content:"\e94c"}.sgds-icon-add-comment:before{content:"\e94d"}.sgds-icon-ban:before{content:"\e94e"}.sgds-icon-bookmark:before{content:"\e94f"}.sgds-icon-calendar:before{content:"\e950"}.sgds-icon-chat:before{content:"\e951"}.sgds-icon-circle-info:before{content:"\e952"}.sgds-icon-circle-minus:before{content:"\e953"}.sgds-icon-circle-plus:before{content:"\e954"}.sgds-icon-circle-question:before{content:"\e955"}.sgds-icon-circle-warning:before{content:"\e956"}.sgds-icon-compress-alt:before{content:"\e957"}.sgds-icon-compress:before{content:"\e958"}.sgds-icon-edit:before{content:"\e959"}.sgds-icon-expand-alt:before{content:"\e95a"}.sgds-icon-expand:before{content:"\e95b"}.sgds-icon-external:before{content:"\e95c"}.sgds-icon-feedback:before{content:"\e95d"}.sgds-icon-filter:before{content:"\e95e"}.sgds-icon-info:before{content:"\e95f"}.sgds-icon-list:before{content:"\e960"}.sgds-icon-pin:before{content:"\e961"}.sgds-icon-question:before{content:"\e962"}.sgds-icon-refresh:before{content:"\e963"}.sgds-icon-rsvp-no:before{content:"\e964"}.sgds-icon-rsvp-yes:before{content:"\e965"}.sgds-icon-search:before{content:"\e966"}.sgds-icon-slider-horizontal:before{content:"\e967"}.sgds-icon-slider-vertical:before{content:"\e968"}.sgds-icon-star:before{content:"\e969"}.sgds-icon-sync:before{content:"\e96a"}.sgds-icon-toggle-minus:before{content:"\e96b"}.sgds-icon-toggle-off:before{content:"\e96c"}.sgds-icon-toggle-on:before{content:"\e96d"}.sgds-icon-toggle-plus:before{content:"\e96e"}.sgds-icon-triangle-warning:before{content:"\e96f"}.sgds-icon-warning:before{content:"\e970"}.sgds-icon-zoom-in:before{content:"\e971"}.sgds-icon-zoom-out:before{content:"\e972"}